services:
  api:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    container_name: api
    ports:
      - "8080:8080"
    volumes:
      - ./backend:/app
      - /app/vendor

    depends_on:
      - db
    command: >
      sh -c "
        composer install --no-interaction --prefer-dist &&
        php -S 0.0.0.0:8080 -t public
      "
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    container_name: frontend
    volumes:
      - ./frontend:/app
    ports:
      - "5174:5173"

    environment:
      - CHOKIDAR_USEPOLLING=true

    depends_on:
      - api
    command: >
      sh -c "
        if [ ! -d node_modules ]; then npm install; fi &&
        npm run dev -- --host
      "
  db:
    image: mysql:8.0
    container_name: db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: agendamento
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    ports:
      - "8081:80"
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: root
    depends_on:
      - db

volumes:
  mysql_data: